In [17]:
%run DataUpdate.ipynb

In [18]:
import pandas as pd
import datetime

import warnings
warnings.filterwarnings('ignore')

In [19]:
ride_files = ['7_dwarfs_train.csv', 'astro_orbiter.csv', 'barnstormer.csv', 'big_thunder_mtn.csv',
             'buzz_lightyear.csv', 'carousel_of_progress.csv', 'dumbo.csv', 'haunted_mansion.csv', 
             'it_s_a_small_world.csv', 'jungle_cruise.csv', 'mad_tea_party.csv', 'magic_carpets.csv', 
             'main_st_vehicles.csv', 'peoplemover.csv', 'peter_pan_s_flight.csv',
             'pirates_of_caribbean.csv', 'regal_carrousel.csv', 'space_mountain.csv', 'splash_mountain.csv',
             'tom_land_speedway.csv', 'winnie_the_pooh.csv']
ride_names = ['Seven Dwarfs Mine Train', 'Astro Orbiter', 'The Barnstormer', 'Big Thunder Mountain Railroad',
             "Buzz Lightyear's Space Ranger Spin", "Walt Disney's Carousel of Progress", 'Dumbo the Flying Elephant',
             'Haunted Mansion', "It's a Small World", 'Jungle Cruise', 'Mad Tea Party', 'The Magic Carpets of Aladdin', 
             'Main Street Vehicles', 'Tomorrowland Transit Authority PeopleMover', "Peter Pan's Flight",
             'Pirates of the Caribbean', 'Prince Charming Regal Carrousel', 'Space Mountain', 'Splash Mountain',
             'Tomorrowland Speedway', 'The Many Adventures of Winnie the Pooh']
print(len(ride_files))
print(len(ride_names))

21
21

In [20]:
park_metadata = pd.read_csv('park_metadata.csv')
ride_metadata = pd.read_excel('WDW_Ride_Data_DW.xlsx')
other_ride_metadata = pd.read_csv('ride_metadata.csv')

In [25]:
allRides = cleanData(ride_files, ride_names)
allRides['DATE'] = allRides['date']
pd.concat([allRides, park_metadata], axis = 1)

,date,datetime,SACTMIN,SPOSTMIN,Ride_name,Park_location,Park_area,Ride_type_all,Ride_type_thrill,Ride_type_spinning,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,2015-01-01,2015-01-01 07:51:12,NaN,45.0,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",True,False,...,1.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,2015-01-01,2015-01-01 08:02:13,NaN,60.0,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",True,False,...,1.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,2015-01-01,2015-01-01 08:05:30,54.0,NaN,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",True,False,...,1.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,2015-01-01,2015-01-01 08:09:12,NaN,60.0,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",True,False,...,1.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,2015-01-01,2015-01-01 08:16:12,NaN,60.0,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",True,False,...,1.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5654844,2021-12-28,2021-12-28 22:34:35,NaN,5.0,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5654845,2021-12-28,2021-12-28 22:42:15,NaN,5.0,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5654846,2021-12-28,2021-12-28 22:48:12,NaN,5.0,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5654847,2021-12-28,2021-12-28 22:54:10,NaN,5.0,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5654848,2021-12-28,2021-12-28 23:00:27,NaN,5.0,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN